{% extends "layout.html" %}
{% block title %}EM Market Share Index{% endblock %}
{% block head %}
<style type="text/css">
         .important { color: #336600; }
</style>
{% endblock %}
{% block content %}
  <div>
    <table border=1 id="myTable" class="tablesorter">
        <thead>
            <form name="loginform" action="/marketshare/index/" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit"/>
            </form>
            {% for field, errors in form.errors.items %}
                {{ errors }}
            {% endfor %}
</div><br/>
{% endblock %}
