<!DOCTYPE HTML PUBLIC "-//W3C/DTD HTML 4.01//EN">
<html lang="en">
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/blue/style.css" >
<script data-require="jquery" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="/static/js/jquery.tablesorter.widgets.js"></script>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
      {% block head %}
      <title>EM Market Share Page</title>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" >
      {% endblock %}
  </head>

  <body>
    <header>
      <div class="container">
          <h1 class="logo">EM Market Share</h1>
          <strong><nav>
            <ul class="menu">
            </ul>
          </nav></strong>
      </div>
    </header>
  
    <div class="container">
        {% block content %}
        {% endblock %} 
    </div>
 
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2014 by <a href="http://domain.invalid/">Chris Dorman</a>
        {% endblock %}
    </div>
  </body>
</html>
