{% extends "layout.html" %}
{% block title %}EM Market Share Index{% endblock %}
{% block content %}
    <table class="tablesorter">
        <thead>
            <tr>{% for heading in data.headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% for row in data.rows %}
                <tr>
                    {% for val in row %}
                <td>{{ val|default:'' }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div id="pager" class="pager"> 
  <form> 
    <input type="button" value="&lt;&lt;" class="first" /> 
    <input type="button" value="&lt;" class="prev" /> 
    <input type="text" class="pagedisplay"/> 
    <input type="button" value="&gt;" class="next" /> 
    <input type="button" value="&gt;&gt;" class="last" /> 
    <select class="pagesize"> 
      <option selected="selected"  value="10">10</option> 
      <option value="20">20</option> 
      <option value="30">30</option> 
      <option value="40">40</option> 
    </select> 
  </form> 
</div>
{% endblock %}
