{% extends "layout.html" %}
{% block title %}EM Market Share Index{% endblock %}
<style type="text/css">
    .important { color: #336600; }
</style>
{% block content %}
  <div>
    <table border=1 id="myTable" class="tablesorter">
        <thead>
            <tr>{% for heading in data.headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% for row in data.rows %}
                <tr>
                    {% for val in row %}
                <td>{{ val|default:'' }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
